cd C:\calc
echo build/ > .gitignore
echo .vs/ >> .gitignore
echo *.exe >> .gitignore
echo *.user >> .gitignore
echo *.suo >> .gitignore
echo Debug/ >> .gitignore
echo Release/ >> .gitignore
echo x64/ >> .gitignore